<div mat-dialog-content *ngIf="!error">
    <p>Enter your proposal</p>
    <mat-form-field>
        <input matInput [(ngModel)]="bid" title="Your proposal">
    </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="!error">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onYesClick()" [disabled]="(bid<1)">Ok</button>
</div>
<div mat-dialog-content *ngIf="error">
    <p>Error:</p>
    <p>{{ error}}</p>
</div>
<div mat-dialog-actions *ngIf="error" class="right-content">
    <button mat-button (click)="onCloseClick()">Close</button>
</div>
