<!--suppress JSValidateTypes -->
<div class="new-deals-button-block">
    <button mat-raised-button *ngIf="dealsStorage.issetNew" (click)="updateList()">Update list (there are new deal rooms)</button>
</div>

<app-deal-room-card *ngFor="let dealRoom of dealsStorage.dealRooms" [dealRoom]="dealRoom"></app-deal-room-card>

<div class="loading-block" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>


<div class="clear-fix"></div>

<mat-paginator [length]="dealsStorage.countDeals"
               [pageSize]="dealsStorage.pageSize"
               [pageIndex]="dealsStorage.currentPageIndex"
               (page)="pageEvent = changePage($event)"
               #paginator>
</mat-paginator>
