<div class="app-deal-room-details">
    <div class="content-box main-content">
        <div class="main-box general">
            <header class="accent">
                <div class="title">General Information</div>
            </header>
            <div class="content" *ngIf="dealRoom">
                <div class="info-line">
                    <div class="title">Deal room address:</div>
                    <div class="info">{{ dealRoom.address }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Balance</div>
                    <div class="info">{{dealRoom.balance}} ETH</div>
                </div>
                <div class="info-line">
                    <div class="title">Highest bid</div>
                    <div class="info">{{ dealRoom.highestBid }} ROOTS</div>
                </div>
                <div class="info-line" *ngIf="dealRoom.highestBidder != '0x0000000000000000000000000000000000000000'">
                    <div class="title">Highest bidder</div>
                    <div class="info">{{ dealRoom.highestBidder }}</div>
                </div>
                <div class="info-line">
                    <div class="title">End date</div>
                    <div class="info">{{ dealRoom.dealEndTime | date: 'yyyy-MM-dd hh:mm:ss' }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Beneficiary</div>
                    <div class="info">{{ dealRoom.beneficiary }}</div>
                </div>
            </div>
        </div>

        <div class="main-box general">
            <header class="accent">
                <div class="title">Your participation</div>
            </header>
            <div class="content" *ngIf="dealRoom">
                <div class="info-line" *ngIf="account == dealRoom.highestBidder">
                    <div class="title">You are a highest bidder. Your bid:</div>
                    <div class="info">{{ dealRoom.highestBid }}</div>
                </div>
                <div class="info-line">
                    <div class="title">Pending returns:</div>
                    <div class="info">{{ pendingReturns }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box right-content">
        <div class="main-box actions">
            <header class="accent">
                <div class="title">Actions</div>
            </header>
            <div class="content" *ngIf="dealRoom">
                <div class="button-block">
                    <button mat-raised-button color="primary" (click)="openBidDialog()" [disabled]="dealRoom.ended || dealRoom.isDateTimeEnd()">Increase bid</button>
                </div>
                <div class="button-block">
                    <button mat-raised-button color="primary" (click)="openEndDealDialog()" [disabled]="!dealRoom.ended && !dealRoom.isDateTimeEnd()">End deal</button>
                </div>
                <div class="button-block">
                    <button mat-raised-button color="primary" (click)="openWithdrawDialog()" [disabled]="pendingReturns == 0">Withdraw</button>
                </div>
            </div>
        </div>
        <div class="main-box actions" *ngIf="dealRoom">
            <header class="accent">
                <div class="title">QR code</div>
            </header>
            <div class="content">
                <div class="button-block">
                    <qrcode [qrdata]="dealRoom.address" [size]="150" [level]="'M'"></qrcode>
                </div>
            </div>
        </div>
    </div>
</div>
