<!--<mat-card *ngIf="dealRoom" class="deal-card" routerLink="/address/{{ dealRoom.address }}">-->
<mat-card class="deal-card" (click)="open(dealRoom)">
    <mat-card-header *ngIf="dealRoom.loaded">
        <mat-card-title>{{dealRoom.balance}} ETH</mat-card-title>
        <mat-card-subtitle>{{ dealRoom.address }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="dealRoom.loaded">
        <qrcode [qrdata]="dealRoom.address" [size]="150" [level]="'M'"></qrcode>
        <p>
            Highest bid: {{ dealRoom.highestBid }} ROOTS
        </p>
        <p *ngIf="!dealRoom.ended">
            End date: {{ dealRoom.dealEndTime | date: 'yyyy-MM-dd HH:mm:ss' }}
        </p>
        <p *ngIf="dealRoom.ended">
            Finished
        </p>
    </mat-card-content>

    <mat-spinner *ngIf="!dealRoom.loaded"></mat-spinner>
</mat-card>
